<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - DAS Properties</title>
      <meta name="description" content="">
  <meta name="keywords" content="">
   <!-- Favicons -->
 <link rel="shortcut icon" href="/static/assets/Logo wbg.JPG" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Abel:wght@400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
   
 <!-- Navigation Start -->
<nav class="Navigations">
  <a href="#top">
    <img id="navLogo" src="/static/assets//static/assets/Logo_w.png" alt="Logo" width="150px" height="auto">
  </a>
  

<i id="hamburgerIcon" class="fas fa-bars" style="font-size: 35px; cursor: pointer;"></i>

    <!-- Menu drop-down -->
     <section class="drop-down" id="mainDropdown">
        <ul>

<li>
    <a href="/index/">Home</a>
<li>
    <a href="/about-us/">About us</a>
    </li>
    <li class="drop-arrows">
<a href="#"class="toggle-dropdown">Services</a>
<div class="services-drop-down dropdown-content">
<h3></h3>
<a href="/property-sourcing-and-purchasing/">Property Sourcing and Purchasing</a>
<a href="/rental-management/">Rental management</a>
<a href="/sales-exit-strategy/">Sales & exit strategy</a>
<a href="/consultancy/">Consultancy</a>

</div>
 <i class="fas fa-caret-down dropdown-arrow"></i>
            </li>
        <li>
        <a href="/investment-opportunities/">Investment opportunities</a>
    </li>
     <li>
        <a href="/global-opportunities/">Global opportunities</a>
    </li>
    <li>
        <a href="/contact/">Contact us</a>
    </li>
</li>
        </ul>

     </section>
</nav>

<section class="p-t-hero">
    <div>
<h1>TERMS OF USE</h1>
</section>
<section class="p-t-page">
    <h4>Effective Date: 1st January 2025.</h4>
    <h4>Last Updated: 13th May 2025.</h4>
    <p>Welcome to the website of DAS Properties and Investment Limited (“we,” “our,” or “us”). By accessing or using our website, you agree to be bound by these Terms of Use. If you do not agree, please do not use the site.</p>
    <p class="colon-header">Use of Website</p>
    <p>This website is intended to provide information about our real estate investment services. You agree to use it only for lawful purposes and not to:</p>
    <ul>
        <li>Post or transmit any harmful, illegal or misleading content</li>
        <li>Attempt unauthorized access to our systems or investor portals</li>
        <li>Infringe on our intellectual property rights</li>
    </ul>
    <p class="colon-header">2. No Investment Advice</p>
    <p>Information provided on this website is for general informational purposes only. It does not constitute financial, legal or investment advice. You should consult with a qualified advisor before making any investment decisions.</p>
    <p class="colon-header">3.  Limitation of Liability</p>
    <p>We do our best to keep information accurate and up-to-date, but we do not guarantee the completeness or reliability of content. We are not liable for any loss or damage resulting from your use of this site or the information within it.</p>
    <p class="colon-header">4. Modifications</p>
    <p>We reserve the right to update or change these Terms at any time. Continued use of the site after changes indicates your acceptance of the revised terms.</p>
    <p class="colon-header">5. Governing Law</p>
    <p>These Terms are governed by the laws. Any disputes will be subject to the exclusive jurisdiction of the courts of that region.</p>

</section>


   <!-- Footer start -->
     <footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-logo">
        <a href="/index/"><img src="/static/assets//static/assets/Logo_w.png" alt="Company Logo"></a>
      </div>

      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/index/">Home</a></li>
          <li>
            <li><a href="/about-us/">About Us</a></li>

            <li><a href="/investment-opportunities/">Investment Opportunities</a></li>

          <li><a href="/services/">Services</a></li>
          
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>

      <div class="footer-contact">
        <h4>Contact</h4>
        <p>Email: <a href="mailto:info@daspropertiesinvest.co.uk">info@daspropertiesinvest.co.uk</a></p>
       <p><a href="tel:+01-903947770"><i class="fas fa-phone-alt"></i> 01-903947770</a></p>
<p><a href="https://wa.me/447588582993" target="_blank">
    <i class="fab fa-whatsapp"></i> +44 7588 582993
  </a></p>
        
        <p>84 Salop Street, Wolverhampton, WV3 0SR, United Kingdom</p>
      </div>

      <div class="footer-social">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/share/1CMr27rqTv/"><i class="fab fa-facebook-f"></i></a>

          <a href="https://x.com/properties_das?t=a8Ky7CuBrROPDwCEmfGFZA&s=09"><i class="fab fa-twitter"></i></a>

          <a href="https://www.instagram.com/das_properties_and_investment?igsh=MWpsNm10aDI0YmR2MQ=="><i class="fab fa-instagram"></i>
</a>
</div>
       <p id="legal">
   Legal <br>
    <a href="/contact/">Privacy Policy</a> | 
    <a href="/terms/">Terms of Use</a>
  </p>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; <span id="year">2025</span> DAS Properties. All rights reserved.</p>

    </div>
  </div>
</footer>


<script src="/static/js/main.js"></script>
</body>
</html>